* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}

body {
  background: url(aa.png) no-repeat center center/cover;
  height: 110vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Navbar */
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #ffffffed;
  letter-spacing: 1.5%;
  cursor: pointer;
  margin-right: 400px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0,0.5);
  position: sticky;
  top: 0;
}

.navbar ul{
  display: flex;
  list-style:none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}

.navbar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.home {
  position: relative; 
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
  
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-content h1 {
  font-size: 56px;
  margin: -3px 0;
  color: rgb(55, 10, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-content p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 15px  0;
  line-height: 23px;
  font-family: 'Istok Web';
}


/* About section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 60px;
    background: url(27.jpg) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    color: azure;
}
#pic{
    display: flex;
}
#pic img{
    margin-top: 25px;   
    width: 575px;
    height: 500px ;
}

#intro h2{
    padding: 20px;
    font-size: 50px;
    color: rgb(17, 17, 246);
    margin-bottom: -50px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#intro p{
    padding: 20px;
    font-size: 20px;
    color:white;  
    font-family: 'Istok Web';
}

#about h1{
    /* font-size: 70px;
    margin-left: 50px; */
    /* text-align: center; */
    margin-left: 20px;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* portofolie */
#portfolio{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(6, 6, 164); */
    color: #fff;
    padding: 20px;
    background: url(38.jpg) no-repeat center;
    background-size:cover ;
   
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}
#gallery img{
    width: 330px;
    height: 330px;
    margin: 10px;
    border-width:10px ;
    border-color: white;
  border-radius: 15px;
  border: 4px solid rgb(27, 3, 245);
  
}

#gallery img:hover{
  color: rgb(16, 9, 234);
  border: none;
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

#portfolio h1{
    margin-left: 30px;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 60px;
}

/* <-- skills --> */

#skill h1{
    font-size: 60px ;
    margin-bottom: 20px;
    /* margin-left: 110px; */
    text-align: center;
    color: white;
    

}  
#skill{
    display: flex;
    flex-direction: column;
    padding: 20PX ;
    background: url(b.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#skill h2{
  font-size: 40px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius:  15px;
    background: linear-gradient(to top , rgb(17, 6, 81) 5% , rgb(203, 202, 220));
    background-size: 100% 200%;
    transition: all .8s;
    margin-left: 75px;
}

.box p{
    font-family: 'Istok Web';
    
}

.box:hover{
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(107, 45, 222);
}

/* contact section */

#contact{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.9);
  color: white;
  padding: 20px;
  background: url(44\ -\ Copy.jpg) no-repeat;
  background-size: cover;
}

.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px; 
}

.input{
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}

.msg{
  width: 20%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}

#send{
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}

#send:hover{
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

#contact h1{
    font-size: 50px;
    margin-left: 575px;
}

#contact .contact-item .icon{
  height: 100px;
  width: 100px;
}